@{
 //   Layout = null;
    ViewData["Title"] = "I miei post";
}

@using NetCore_01.Controllers;
@model List<Notizia>;


        
        
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mt-3 mb-3">Lista posts</h1>
        </div>

        <table class="table post-list-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Immagine</th>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <!-- questo è un esempio con url immagine esterna alla webapp attuale -->
                    <td class="image"><img  src="https://picsum.photos/id/10/200/300"></td>
                    <td class="title">Titolo post</td>
                    <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
                <tr>
                    <td>1</td>
                    <!-- questo è un esempio con url immagine interna alla webapp attuale -->
                    <td class="image"><img  src="~/img/fondo-pag-speciali.jpg"></td>
                    <td class="title">Titolo post 1</td>
                    <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="image"><img src="https://picsum.photos/id/1000/200/300"></td>
                    <td class="title">Titolo post</td>
                    <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="image"><img  src="https://picsum.photos/id/1003/200/300"></td>
                    <td class="title">Titolo post</td>
                    <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class="image"><img src="https://picsum.photos/id/1015/200/300"></td>
                    <td class="title">Titolo post</td>
                    <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
            </tbody>
        </table>
    </div>
    

 @section News 
{
    <h2>Le ultime notizie di oggi</h2>
    @foreach (Notizia notizia in Model) 
    {
     <p>
        @notizia.Titolo: @notizia.Testo
     </p>
    }
 }